libs/
notetaker/bin/
notetaker/output/
notetaker/release/
notetaker/._DONT RUN GIT FROM HERE
.RUN_GIT_FROM_HERE.txt
GIT commands.txt
releases - Shortcut.lnk
Test cases.xlsx
ViNO - Shortcut.lnk
ViNO Backlog (errors and new functions).xlsx - Shortcut.lnk
ViNo Get Started USER V1.0.pptx - Shortcut.lnk
ViNO releases - Shortcut.lnk
~$ViNO Backlog (errors and new functions).xlsx
~$ViNo Get Started V1.0.pptx
~$ViNo Get Started V4.0.pptx
~$ViNo Get Started.pptx
